<div class="jumbotron text-center">
  <h2 class="title">Welcome to Dinet data logger!</h2>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center">
      <p class="lead">
        This is a Data Registration application  using the Form.io Platform.
      </p>
      <p class="lead">
        With this application You can easily collect, store, and analize your data.
      </p>

      <p class="lead">Need Help?</p>
      <a class="btn btn-lg btn-success" target="_blank" href="https://gxpdocs.hu">Dinet Kft</a>
      <a class="btn btn-lg btn-success" target="_blank" href="http://help.form.io">Documentation</a>
    </div>
  </div>
</div>
