<div role="search" class="input-group mb-3" *ngIf="config.includeSearch">
  <input
    #search
    type="text"
    (keyup)="onSearch()"
    class="form-control"
    placeholder="Search Forms"
    aria-label="Search Forms"
    aria-describedby="button-search"
  />
  <span
    *ngIf="search && search.value !== ''"
    class="form-clear input-group-addon"
    (click)="clearSearch()"
    ><span class="fa fa-times bi bi-x"></span
  ></span>
</div>

<!-- !!!samples
  [formio]="service.formio"
  src="http://localhost:3001/form?type=form&sort=title&tags=valami&limit=10&skip=0"
  [query]="{ title__regex: '/151/i', tags__eq: ['valami'], type: 'form' }"
-->
<formio-grid
  *ngIf="service.ready"
  [formio]="serviceFormioConverted"
  [gridType]="'form'"
  [query]="gridQuery"
  [isActionAllowed]="service.actionAllowed"
  (rowAction)="onAction($event)"
  (rowSelect)="onSelect($event)"
  (createItem)="onCreateItem()"
></formio-grid>
