<div  class="mt-2 col-md-12">
  <input #csvInput
    type="file"
    class="file-input btn btn-primary"
    class="form-control"
    (change)="readCsvFromLocal($event)"
    accept=".csv"
  />
</div>
<div class="mt-2 col-md-12">
  <button class="btn btn-primary" *ngIf="dataList" (click)="uploadForm()">
    Upload Form
  </button>
</div>

<div class="mt-2 col-md-12" *ngFor="let item of dataList">{{ item | json }}</div>

<ng-container *ngIf="error_message">
  <div class="mt-2 col-md-12" *ngFor="let item of error_message">{{ item | json }}</div>
</ng-container>
